/* remove default decoration  */
a {
    text-decoration: none;
    color: white;
}

/* space between items  */
.space-between {
    gap: 2.5rem;
}

/* link hover color  */
a:hover {
    color: rgb(211, 196, 196);
}

/* custom bg-color  */
.bg-custom-dark {
    background-color: #222233;
}

/* custom text-color  */ 
.text-custom-grey {
    color: rgb(211, 196, 196);
}

/* .active {
    color: gray;
} */